.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 95px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  margin-left: -6px;
  padding-left: 6px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 136px;
  cursor: pointer;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 56px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left,
.aligned-text_center,
.aligned-text_right {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  padding: 20px 0 20px 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  align-self: center;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 14px 31px;
  color: inherit;
  font-weight: 500;
  line-height: 100%;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}
