.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 95px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  margin-left: -6px;
  padding-left: 6px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link,
.footer__menu-link {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 136px;
  cursor: pointer;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 56px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left,
.aligned-text_center,
.aligned-text_right {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  padding: 20px 0 20px 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  align-self: center;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 14px 31px;
  color: inherit;
  font-weight: 500;
  line-height: 100%;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 185px 24px 120px;
}

.lots__heading,
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__heading {
  padding: 0 0 30px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 32px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
  z-index: 1;
  line-height: 120%;
  letter-spacing: 0%;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 24px 180px;
}

.about__column {
  justify-self: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 105px 0 103px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  justify-content: space-between;
  padding: 0 50px 82px;
}

.footer__address {
  max-width: 265px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  border-bottom: none;
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
